body {
  background: #ecf0f1;
}

header {
  background-color: #2c3e50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #27ae60;
}

main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

button {
  background: #2980b9;
  border-radius: 2px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  color: #ecf0f1;
}

.entry-form {
  /*display: flex;*/
  /*flex-basis: 100%;*/
}

.new-entry-form {
  padding: 20px;
  display: flex;
  /*width: 800px;*/
  /*flex-basis: 500px;*/
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  background-color: #fff;
}

.new-entry-form button {
  align-self: stretch;
}

.form-row {
  align-self: stretch;
}

.form-row label {
  width: 100%;
}

input {
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  padding: 5px;
  margin-bottom: 10px;
}

.form-row input {
  width: 100%;
}

.required {
  color: red;
  font-size: .75em;
}

.entry-list-item li {
  list-style: none;
}

.form-block input {
  margin-right: 20px;
}